h1:hover{
  color: greenyellow;
  padding-left: 50px;
  font-size: 30px;
}
h2{
  color: gold;
}
body{
  background-color: gray;
}
h2{
  display: block;
}
p{
  font-family: sans-serif;
}
ul{
  font-family: 'Arial';
}
ol{
  font-family: 'Helvetica';
}
a:visited{
  color: green;
}