h1{
  color: greenyellow
}
h2{
  color: gold;
}
body{
  background-color: gray;
}
h2{
  display: block;
}
p{
  font-family: sans-serif;
}
ul{
  font-family: 'Arial';
}
ol{
  font-family: 'Helvetica';
}