h1{
  color: greenyellow;
  padding-left: 50px;
  font-size: 30px;
  border-style:hidden;
  border-width: 10px;
  display: block;
  font-weight: bold;
}
h2{
  color: gold;
}
body{
  background-color: blue
}
h2{
  display: block;
}
p{
  font-family: sans-serif;
}
ul{
  font-family: 'Arial';
}
ol{
  font-family: 'Helvetica';
  font-style: italic;
}
a:visited{
  color: green;
}
div{
  color: yellow;
}
ul:hover{
  padding-left: 50px;
  font-size: medium;
}
body{
  overflow: auto;
  background-color: yellowgreen;
}
